:root {
  --primary-color: #13A2C3;
  --secondary-color: #F48303;
  --job-color: #7F7F7F;
  --text-color: #555555;
  --line-color: #D0CCC8;
  --background-color: #E9E5E2;
  --title-color: white;
  --arrow-color: white;
}